.wrapper-contacts {
    background-color: $backgroundColor;
    height: 100%;
    width: 100%;
}

.wrapper-contacts .main_menu>a:nth-child(3) {
    font-weight: 800;
}

.wrapper-contacts>.header {
    padding: 48px 20px;
    padding-bottom: 0px;
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
}

//первый
.contacts-1 {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    margin-top: 186px;
    padding: 0px 20px;
}

.contacts-1>p:nth-child(2) {
    margin-top: 120px;
}

.contacts-1-main-office {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}

.contacts-1-main-office p {
    font-size: 27px;
    font-weight: 500;
}

.contacts-1-main-office p:nth-child(2) {
    text-align: center;
}

.contacts-d-line {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    height: 1px;
    background-color: #D6D4D4;
}

//второй

.contacts-2 {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px 20px;
}

.contacts-2>p:first-child {
    margin-bottom: 75px;
}

.contacts-2-item {
    margin-bottom: 60px;
}

.contacts-2-item>.static-white-text {
    margin-bottom: 15px;
}

.contacts-2-item:last-child {
    margin-bottom: 72px;
}

.contacts-2-item p {
    font-size: 27px;
    font-weight: 500;
}


//футер
.wrapper-contacts>.footer {
    position: relative;
}


@media screen and (max-width: 850px) {

    //первый
    .contacts-1 {
        max-width: $maxWidthBaseStatic;
        margin: 0 auto;
        margin-top: 186px;
        padding: 0px 20px;
    }

    .contacts-1>p:nth-child(2) {
        margin-top: 100px;
    }

    .contacts-1-main-office {
        margin-top: 32px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 80px;
    }

    .contacts-1-main-office p {
        font-size: 18px;
        font-weight: 500;
    }

    .contacts-1-line {
        width: 100%;
        height: 1px;
        background-color: #D6D4D4;
    }

    //второй

    .contacts-2 {
        max-width: $maxWidthBaseStatic;
        margin: 0 auto;
        margin-top: 80px;
        padding: 0px 20px;
    }

    .contacts-2 p:first-child {
        margin-bottom: 40px;
    }

    .contacts-2-item {
        margin-bottom: 20px;
    }

    .contacts-2-item:last-child {
        margin-bottom: 60px;
    }

    .contacts-2-item p {
        font-size: 18px;
        font-weight: 500;
    }
}


@media screen and (max-width: 600px) {

    //первый
    .contacts-1 {
        max-width: $maxWidthBaseStatic;
        margin: 0 auto;
        margin-top: 48px;
        padding: 0px 20px;
    }

    .contacts-1>p:nth-child(2) {
        margin-top: 56px;
    }

    .contacts-1-main-office {
        margin-top: 32px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        margin-bottom: 45px;
    }

    .contacts-1-main-office p {
        font-size: 14px;
        font-weight: 500;
    }

    .contacts-1-line {
        width: 100%;
        height: 1px;
        background-color: #D6D4D4;
    }

    //второй

    .contacts-2 {
        max-width: $maxWidthBaseStatic;
        margin: 0 auto;
        margin-top: 80px;
        padding: 0px 20px;
    }

    .contacts-2 p:first-child {
        margin-bottom: 10px;
    }

    .contacts-2-item {
        margin-bottom: 20px;
    }

    .contacts-2-item:last-child {
        margin-bottom: 60px;
    }

    .contacts-2-item p {
        font-size: 14px;
        font-weight: 500;
    }
}