@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.inslider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
}

.inslider__wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    transition-duration: 1s !important;
    transition-timing-function: ease-out;
}

.inslider__wrapper.inslider__wrapper-open {
    transition-duration: 0.15s !important;
}

.i-s_screen {
    flex: 1 0 100%;
    position: relative;
    background-color: #4FA9B2;
    border-left: 3px solid #286c72;
    overflow: hidden;
}

.inslider_screen__content {
    padding: 0px 0px 0px 185px;
    position: relative;
    z-index: 2;
}

.inslider_screen__content:first-child {
    height: 100%;
}

.inslider_screen__body {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.inslider_screen__image {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.inslider_screen__image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.color-main-title {
    color: #34EEFF;
    font-weight: 600;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.main-slide-title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-top: 150px;
    max-width: 800px;
}

.more-info {
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 600px;
    height: 300px;
    overflow: hidden;
    cursor: none;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.more-info.more-info-hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.more-info-content {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 45%;
    left: 15%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.more-info__title {
    visibility: visible;
    opacity: 1;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
}

.more-info__title._hide-more-info__title {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.more-info__button {
    background-color: #00D495;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    transform: scale(1);
    visibility: visible;
    transition: transform 0.3s;
    pointer-events: none;
    overflow: hidden;
}

.more-info__button._hide-more-info__button {
    transform: scale(0);
    visibility: hidden;
    transition: all 0.3s;
}

.more-info__button img {
    align-self: center;
    width: 50%;
}


// размеры слайдов
.clear-values-inslider-slide>.inslider_screen__content {
    padding: 0px;
}

.clear-values-inslider-slide>.inslider_screen__content>p {
    margin: 0;
}

.screen_size-1 {
    flex: none;
    width: 1000px;
}

.screen_size-2 {
    flex: none;
    width: 1300px;
}

.screen_size-3 {
    flex: none;
    width: 800px;
}



// вложенные слайдеры на главной странице

//Первый
//1
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(2)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/tagline.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(2)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(2)>.inslider_screen__content {
    display: flex;
    justify-content: center;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(2)>.inslider_screen__content.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(2)>.inslider_screen__content p {
    align-self: center;
    text-align: center;
}

.typed-text-2-wrapper {
    display: inline-block;
    background-color: #fff;
    color: #34EEFF;
    width: 270px;
    text-align: center;
}

//2
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(3)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(3)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(3)>.inslider_screen__content {
    padding: 80px 120px;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(3)>.inslider_screen__content.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(3)>.inslider_screen__content>p:nth-child(2) {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

.inslider-0__slide-2_content {
    display: flex;
    justify-content: space-between;
}

.inslider-0__slide-2_content>div {
    height: 100%;
    width: 100;
    transition: all 0.3s !important;
}


.inslider-0__slide-2_content p {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}

.inslider-0__slide-2_content>div:nth-child(2) {
    padding-top: 70px;
}

.inslider-0__slide-2_content>div:nth-child(3) {
    padding-top: 200px;
}

//3 
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(4)>.inslider_screen__content {
    padding: 100px 170px;
    background-color: #fff;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(4) p {
    color: #4FA9B2;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(4) p.toggle-parallax-transition {
    transition: all 1s !important;
}

//4
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(5)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(5)>.inslider_screen__content {}

.inslider-0__slide-4_content {
    background-color: #ffffffbd;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 50px 30px;

}

.inslider-0__slide-4_content>p {
    margin: 0;
    margin-bottom: 40px;
    color: #000;
    transition: all 0.3s !important;
}

//5
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(6)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_5.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

//6
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(7)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_6.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

//7
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(8)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_7.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


//7
.inslider__wrapper._inslider-main-0>.i-s_screen:nth-child(9)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_1/slide_8.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Второй
//1
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_2/tagline.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s !important;
    width: 150%;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}



.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.inslider_screen__content {
    display: flex;
    justify-content: center;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.inslider_screen__content.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.inslider_screen__content p {
    align-self: center;
    text-align: center;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(2)>.inslider_screen__content p.toggle-parallax-transition {
    transition: all 1s !important;
}

//2, 4
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(3)>.inslider_screen__content,
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(5)>.inslider_screen__content {
    padding: 100px 120px;
    background-color: #fff;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(3) p:nth-child(1),
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(5) p:nth-child(1) {
    color: #4FA9B2;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(3)>.inslider_screen__content>p:nth-child(2),
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(5)>.inslider_screen__content>p:nth-child(2) {
    font-weight: 600;
    position: absolute;
    bottom: 10%;
    right: 5%;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(3) p:nth-child(1).toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(5) p:nth-child(1).toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(3)>.inslider_screen__content>p.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(5)>.inslider_screen__content>p.toggle-parallax-transition {
    transition: all 1s !important;
}

//3
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(4)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_2/slode_3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(4)>.inslider_screen__content {}

.inslider-1__slide-4_content {
    position: absolute;
    top: 15%;
    left: 30%;
    font-weight: 600;
    color: #fff;
}


//5
.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(6)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_2/slide_5.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-1>.i-s_screen:nth-child(6)>.inslider_screen__content {}

.inslider-1__slide-6_content {
    position: absolute;
    top: 15%;
    left: 30%;
    font-weight: 600;
    color: #fff;
}


//Третий
//1
.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(2)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_3/tagline.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(2)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(2)>.inslider_screen__content {
    display: flex;
    justify-content: center;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(2)>.inslider_screen__content p {
    align-self: center;
    text-align: center;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(2)>.inslider_screen__content p.toggle-parallax-transition {
    transition: all 1s !important;
}

//2,3,4,6
.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(3)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_3/slide_2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(3)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(4)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_3/slide_3.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(4)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(5)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_3/slide_4.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(5)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(6)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_3/slide_5.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(6)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(3)>.inslider_screen__content,
.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(4)>.inslider_screen__content,
.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(5)>.inslider_screen__content {
    padding: 20px;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(6)>.inslider_screen__content {
    padding: 90px 60px;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(3)>.inslider_screen__content img,
.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(4)>.inslider_screen__content img {
    width: 300px;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(5)>.inslider_screen__content img {
    width: 200px;
}

.inslider__wrapper._inslider-main-2>.i-s_screen:nth-child(6)>.inslider_screen__content>p:first-child {
    font-family: "Orelega One", serif;
    font-size: 40px;
}

.inslider-2__slide_content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.inslider-2__slide_content.toggle-parallax-transition {
    transition: all 1s !important;
}


.inslider-2__slide_content>div {
    background-color: #ffffff8c;
    padding: 20px;
    max-width: 600px;
    border-radius: 15px;
}

.inslider-2__slide_content p {
    font-size: 18px;
    margin-bottom: 10px;
}

//Четвёртый
//1
.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(2)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_4/tagline.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(2)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(2)>.inslider_screen__content {
    padding: 30px 50px;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(2)>.inslider_screen__content p {
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(2)>.inslider_screen__content p.toggle-parallax-transition {
    transition: all 1s !important;
}

//2
.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3)>.inslider_screen__content {
    padding: 70px 120px;
    background-color: #fff;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) p {
    color: #4FA9B2;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) p.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) p:nth-child(2) {
    margin-top: 70px;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) a {
    display: block;
    margin-top: 30px;
    transition: all 0.3s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) a.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(3) button {
    border-radius: 10px;
    background: #00D495;
    box-shadow: 0px 5px 15px 0px #8EC3CC;
    color: #fff;
    padding: 9px 23px;
    font-size: 20px;
}

//3,4
.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(4)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_4/slide_3.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115%;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(4)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(5)>.screen__body {
    background: url('../../img/bg/insliders/main/inslider_4/slide_4.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.inslider__wrapper._inslider-main-3>.i-s_screen:nth-child(5)>.screen__body.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider-3__slide-3-4_content {
    background-color: #ffffffbd;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 100px 80px;

}

.inslider-3__slide-3-4_content>p {
    margin: 0;
    margin-bottom: 40px;
    color: #000;
    transition: all 0.3s !important;
}

.inslider-3__slide-3-4_content>p.toggle-parallax-transition {
    transition: all 1s !important;
}

.inslider-3__slide-3-4_content>p:last-child {
    font-size: 18px;
}