.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.toggle-scroll {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
}

.toggle-scroll._suslider-top-0 {
  top: 0 !important;
  transition: all 0.5s !important;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  flex: 1 0 100%;
  position: relative;
  background-color: #4FA9B2;
}

.screen__content {
  padding: 0px 0px 0px 145px;
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s;
}

.screen__content._hide_page {
  opacity: 0;
  transition: opacity 1s;
}

.screen__title {
  font-size: 50px;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// Пагинация

// .page__pagination {
//   position: absolute;
//   top: 50%;
//   right: 50px;
//   transform: translate(0px, -50%);
//   display: flex;
//   flex-direction: column;
// }

// .page__bullet {
//   width: 15px;
//   height: 15px;
//   cursor: pointer;
//   background-color: #000000b5;
//   margin: 10px 0;
//   border-radius: 50%;
//   transition: background-color 0.3s ease 0s;
// }

// .page__bullet_active {
//   background-color: #fff;
// }

// Скролл

// .page__scroll {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 4px;
//   height: 100%;
//   background-color: #00000089;
// }

// .page__drag-scroll {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #000000c5;
//   cursor: pointer;
// }


.main-title {
  height: 100%;
  display: flex;
  max-width: 600px;
}

.main-title div {
  align-self: center;
}

.main-title__second {
  color: #34EEFF;
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 450px) {
  .main-title__second {
    font-size: 15px;
  }
}