.wrapper-partners {
    background-color: $backgroundColor;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.wrapper-partners .main_menu>a:last-child {
    font-weight: 800;
}

.wrapper-partners>.header {
    padding: 48px 20px;
    padding-bottom: 0px;
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
}

//первый
.partners-1 {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    margin-top: 186px;
    padding: 0px 20px;
}

.partners-1 p {
    margin-top: 120px;
}

//второй
.partners-2 {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    margin-top: 120px;
    padding: 0px 20px;
}

.partners-2-texts {
    margin-top: 32px;
}

.partners-2-texts ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.partners-2-texts ul li {
    font-size: 18px;
    font-weight: 500;
    line-height: 121.839%;
    display: flex;
    gap: 10px;
}

.partners-2-texts p:first-child {
    font-size: 30px;
}


//третий
.partners-3 {
    max-width: $maxWidthBaseStatic;
    margin: 0 auto;
    margin-top: 72px;
    padding: 0px 20px;
}

.partners-3 .static-white-text:first-child {
    margin-bottom: 50px;
}

.partners-3>.static-white-text:nth-child(4) {
    margin-top: 72px;
}

.partners-3>.static-white-text:nth-child(5) {
    margin-top: 32px;
    font-size: 18px;
}

.partners-3-items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.partners-3-white-text {
    color: #fff;
}

.partners-3-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.partners-3-item p {
    max-width: 275px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}


.partners-3-icon {
    max-width: 200px;
    margin: 0 auto;
}


//четвёртый
.partners-4 {
    margin-top: 72px;
    background-color: #fff;
}

.partners-4 p {
    max-width: 990px;
    margin: 0 auto;
}

//футер

.wrapper-partners>.footer {
    position: relative;
}

@media screen and (max-width: 850px) {
    .partners-3>.static-white-text:nth-child(4) {
        margin-top: 48px;
    }

    .partners-3>.static-white-text:nth-child(5) {
        margin-top: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .partners-3-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .partners-4 p {
        max-width: 550px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 500px) {
    .partners-1 {
        margin-top: 60px;
    }

    .partners-2 {
        margin-top: 56px;
    }

    .partners-2-texts {
        margin-top: 16px;
    }

    .partners-2-texts ul {
        gap: 5px;
    }

    .partners-2-texts ul li {
        font-size: 14px;
        font-weight: 400;
    }

    .partners-3-items {
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .partners-3-item {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .partners-3-item:nth-child(4) {
        grid-row-start: 6;
    }

    .partners-3-item:nth-child(5) {
        grid-row-start: 4;
    }

    .partners-3-item:nth-child(6) {
        grid-row-start: 5;
    }

    .partners-3-item p {
        max-width: 165px;
        font-size: 14px;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .partners-3-icon {
        max-width: 96px;
        margin: 0;
    }
}